<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.eye.admin.qkq.mapper.NewsManageMapper">
    <resultMap id="newsEntityMap" type="com.zlk.eye.admin.qkq.entity.News">
        <id property="newsId" column="n_id" javaType="java.lang.String"/>
        <result property="newsTitle" column="n_title" javaType="java.lang.String"/>
        <result property="newsContent" column="n_content" javaType="java.lang.String"/>
        <result property="approval" column="n_approval" javaType="java.lang.Integer"/>
        <result property="createTime" column="create_time" javaType="java.util.Date"/>
    </resultMap>

    <select id="findNewsByAdmin" resultMap="newsEntityMap" parameterType="com.zlk.eye.admin.util.Pagination">
        select * from news limit #{startPage},#{limit}
    </select>

    <select id="findCountByAdmin" resultType="java.lang.Integer" parameterType="com.zlk.eye.admin.util.Pagination">
        select count(1) from news
    </select>

    <delete id="deleteNewsByNewsId" parameterType="java.lang.String">
        delete from news where n_id=#{newsId}
    </delete>

    <insert id="addNews" parameterType="com.zlk.eye.admin.qkq.entity.News">
        insert into news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            n_id,n_title,n_content,n_approval,create_time
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{newsId},#{newsTitle},#{newsContent},#{approval},#{createTime}
        </trim>
    </insert>

    <update id="updateNewsByNewsId" parameterType="com.zlk.eye.admin.qkq.entity.News">
        update news
        <set>
            <if test="newsTitle!=null and newsTitle!=''">
                n_title=#{newsTitle},
            </if>
            <if test="approval!=null">
                n_approval=#{approval},
            </if>
            <if test="createTime!=null">
                create_time=#{createTime}
            </if>
        </set>
        where n_id=#{newsId}
    </update>

    <update id="updateContentByTextArea" parameterType="com.zlk.eye.admin.qkq.entity.News">
       update news
       <set>
           <if test="newsContent!=null and newsContent!=''">
               n_content=#{newsContent},
           </if>
           <if test="createTime!=null">
               create_time=#{createTime}
           </if>
       </set>
        where n_id=#{newsId}
    </update>
</mapper>