<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.eye.user.mapper.IndexMapper">
    <resultMap id="userMap" type="com.zlk.eye.user.entity.Users">
        <id property="userId" column="user_id" javaType="java.lang.String"/>
        <result property="userName" column="user_name" javaType="java.lang.String"/>
        <result property="userPwd" column="user_pwd" javaType="java.lang.String"/>
        <result property="userPhonenum" column="user_phonenum" javaType="java.lang.String"/>
    </resultMap>
    <resultMap id="doctorMap" type="com.zlk.eye.user.entity.Doctors">
        <id property="doctorId" column="doctor_id" javaType="java.lang.String"/>
        <result property="doctorName" column="doctor_name" javaType="java.lang.String"/>
        <result property="doctorPwd" column="doctor_pwd" javaType="java.lang.String"/>
        <result property="doctorPhonenum" column="doctor_phonenum" javaType="java.lang.String"/>
    </resultMap>
    <!--用户登录方法-->
    <select id="findUserByNameAndPwd" parameterType="com.zlk.eye.user.entity.Users" resultMap="userMap">
        select user_name,user_pwd from users where user_name = #{userName} and user_pwd = #{userPwd}
    </select>
    <!--医生登录方法-->
    <select id="findDoctorByNameAndPwd" parameterType="com.zlk.eye.user.entity.Doctors" resultMap="doctorMap">
        select * from doctors where doctor_name = #{doctorName} and doctor_pwd = #{doctorPwd}
    </select>
    <!--用户注册-->
    <insert id="addUser" parameterType="com.zlk.eye.user.entity.Users">
        insert into users(user_id,user_name,user_pwd,user_phonenum)
        values (#{userId},#{userName},#{userPwd},#{userPhonenum})
    </insert>
    <!--查找所有用户，对比用户手机号-->
    <select id="findUserAll" parameterType="com.zlk.eye.user.entity.Users" parameterMap="userMap">
        select user_name,user_phonenum from users
    </select>

</mapper>