/*整体框架*/
#mainDiagnose{
    width: 1400px;
    margin: 0 auto;
}

/*图片显示部分*/
#chart{
    width: 70%;
    height: 50em;
    margin: 1em auto;
    background-color: rgb(227,237,242);
    display: flex;
    flex-wrap: wrap;
}
#line_chart{
    width: 90%;
    height: 20em;
    margin: 1em 1em 2em 1em;
}
#bar_chart{
    width: 40%;
    height: 20em;
    margin: 1em 5%;
}

#pie_chart{
    width: 40%;
    height: 20em;
    margin: 1em 5%;
}

/*诊断内容显示部分*/
#diagnoseContent{
    height: auto;
    width: 70%;
    border: 2px gray solid;
    margin: 1em auto;
}

.diagnose_box{
    display: flex;
    border: 1px #cdcdcd solid;
    margin: 0.5em auto;
    background-color: rgb(250,250,250);
}

.diagnose_answer{
    width: 20%;
    background-color: rgb(227,237,242);
    border: 1px #cdcdcd solid;
    text-align: center;
    letter-spacing: 0.5em;
}

.answer{
    width: 60%;
    height: 5em;
    margin: 5% auto;
    background-color: rgb(250,250,250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.answer span{
    margin: 0.5em;
}

.diagnose_content{
    width: 80%;
    background-color: rgb(250,250,250);
    padding: 0.5em 0;
}

.diagnose-textEditor{
    margin: 0.5em 0.5em;
    letter-spacing: 0.5em;
    font-size: 1em;
}

/*回复部分*/
#report{
    display: flex;
    height: 15em;
    width: 70%;
    border: 2px gray solid;
    margin: 1em auto;
}
#user_content{
    width: 20%;
    height: 100%;
    text-align: center;
    line-height: 100%;
    background-color: rgb(227,237,242);
}

.user{
    width: 60%;
    height: 60%;
    margin: 10% auto;
    background-color: rgb(250,250,250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.user span{
    margin: 0.5em;
}

#dC_report_editor{
    width: 80%;
    padding: 1em 0 0 1em;
}
#editor{
    height: 80%;
    width: 90%;
}
.w-e-toolbar{
    height: 15% !important;
    width: 100% !important;
}
.w-e-text-container{
    height: 85% !important;
}

#btn_div{
    margin: 0.5em 0;
}
#btn_submit{
    width: 3em;
}