<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.eye.goods.mapper.GoodsMapper">
    <resultMap id="goodsEntityMap" type="com.zlk.eye.goods.entity.Goods">
        <id property="g_id" column="g_id" javaType="java.lang.String"></id>
        <result property="g_name" column="g_name" javaType="java.lang.String"></result>
        <result property="g_profile" column="g_profile" javaType="java.lang.String"></result>
        <result property="g_url" column="g_url" javaType="java.lang.String"></result>
        <result property="g_money" column="g_money" javaType="java.lang.Double"></result>
        <result property="g_count" column="g_count" javaType="java.lang.Integer"></result>
        <result property="g_date" column="g_date" javaType="java.util.Date"></result>
    </resultMap>

    <insert id="addGoods" parameterType="com.zlk.eye.goods.entity.Goods">
        insert into goods
        <trim prefix="(" suffix=") " suffixOverrides=",">
            g_id,g_name,g_profile,g_url,g_money,g_count,g_date,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{g_id},#{g_name},#{g_profile},#{g_url},#{g_money},#{g_count},#{g_date},
        </trim>
    </insert>
    <delete id="deleteGoodsByGoodsId" parameterType="java.lang.String">
        delete from goods where g_id=#{g_id}
    </delete>
    <update id="updateGoodsByGoodsId" parameterType="com.zlk.eye.goods.entity.Goods">
        update goods
        <set>
            <if test="g_name!=null and g_name!='' ">
                g_name=#{g_name},
            </if>
            <if test="g_profile!=null and g_profile!='' ">
                g_profile=#{g_profile},
            </if>
            <if test="g_url!=null and g_url!='' ">
                g_url=#{g_url},
            </if>
            <if test="g_money!=null and g_money!='' ">
                g_money=#{g_money},
            </if>
            <if test="g_count!=null and g_count!='' ">
                g_count=#{g_count},
            </if>
            <if test="g_date!=null ">
                g_date=#{g_date},
            </if>
        </set>
        where g_id=#{g_id}
    </update>
    <select id="selectGoodsByName" parameterType="java.lang.String" resultMap="goodsEntityMap">
        select * from goods where g_name=#{g_name}
    </select>
    <!-- 商品名称模糊查询 -->
    <select id="selectCountByName" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from goods
        <if test="condition!='' and condition!=null">
            where g_name like CONCAT('%',#{condition},'%')
        </if>
    </select>
    <select id="selectGoodsByGoodsId" parameterType="java.lang.String" resultMap="goodsEntityMap">
        select * from goods where g_id=#{g_id}
    </select>
    <select id="findGoodsToGoodsEdit" parameterType="java.lang.String" resultMap="goodsEntityMap">
        select * from goods
    </select>
    <select id="selectGoodsByLimit" parameterType="com.zlk.eye.goods.util.Pagination" resultMap="goodsEntityMap">
        select * from goods
        <if test="condition!='' and condition!=null">
            where g_name like CONCAT('%',#{condition},'%')
        </if>
        order by g_id limit #{startPage},#{limit}
    </select>
</mapper>