<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.eye.diagnose.mapper.DiagnoseMapper">
    <resultMap id="diagnoseEntityMap" type="com.zlk.eye.entity.Diagnose">
        <id property="diagnoseId" column="diagnose_id" javaType="java.lang.Integer"/>
        <result property="userId" column="user_id" javaType="java.lang.String"/>
        <result property="doctorId" column="doctor_id" javaType="java.lang.String"/>
        <result property="diagnoseTitle" column="diagnose_title" javaType="java.lang.String"/>
        <result property="date" column="date" javaType="java.util.Date"/>
    </resultMap>
    <select id="selectByHumanID" parameterType="com.zlk.eye.entity.Diagnose" resultMap="diagnoseEntityMap">
        select * from diagnose
        <where>
            <choose>
                <when test="userId != null and userId != ''">
                    user_id = #{userId}
                </when>
                <when test="doctorId != null and doctorId != ''">
                    doctor_id = #{doctorId}
                </when>
                <otherwise></otherwise>
            </choose>
        </where>
        order by date desc
        limit #{startPage},#{limit};
    </select>
    <select id="selectCountById" parameterType="com.zlk.eye.entity.Diagnose" resultType="java.lang.Integer">
        select count(1) from diagnose
        <where>
            <choose>
                <when test="userId != null and userId != ''">
                    user_id = #{userId}
                </when>
                <when test="doctorId != null and doctorId != ''">
                    doctor_id = #{doctorId}
                </when>
                <otherwise></otherwise>
            </choose>
        </where>
    </select>
    <delete id="deleteDiagnose" parameterType="java.lang.Integer">
        delete from diagnose where diagnose_id = #{diagnoseId};
    </delete>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="diagnoseEntityMap">
        select * from diagnose where diagnose_id = #{diagnoseId};
    </select>
</mapper>